body{
  background-color: #d3c2ff;
  font-family: "Source Sans Pro", sans-serif;

}


/* icon bar - top of page -black */
.icon-bar{
  background-color: #000;
  height: 40px;
  width: 100%;
}
.icon-bar a {
  transition: all 0.3s ease;
  color: white; /*text color*/
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  text-align: center;
  /* padding: 2px; */
}
.icon-bar a:hover{
  /* background-color: gray; */
}
.icon-bar img{
  width:25px;
  height: 25px;
  /* padding: 5px; */
  background-color: white;
  padding: 5px;
  box-shadow: inset 0 0 0 5px black;
}
.icon-bar img:hover{
   background-color: rgba(255, 255, 255, 0.3);
}

.linkdetail{
    text-transform: capitalize;
    padding-bottom: 50px;
}

/*  main title YIYI Bakery */

.yiyi{
  font-family:'Sofia';
  text-align:center;
  font-size: 3em;

}
/* all line divisions */
hr.division{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* menu bar under main title -all pages*/

.menu-bar{
  text-align: center;
}
.menu-bar li{
  display: inline;
  padding: 5px 20px 5px;
}
.menu-bar a{
  color: black;
  text-decoration: none;
}
.menu-bar a:hover{
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.1em;
}


/* all subtitles */
.title{
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 3px;"
}

/* footer for all pages */

.footer{
  background-color: black;
  color: white;
  padding: .25em;
}

.footericons{
  display:flex;
  align-items: center;
}
.footericons ul{
  flex-grow: 1;
  text-align: end;
  list-style-type:none;

}
.footericons li{
  padding: 0 .5em;
  display: inline-block;
}
.footericons img{
  width:30px;
  height:30px;
  background-color: white;
}



/* buttons */

.btn{
  text-align: center;
  vertical-align: middle;
  padding: .67em;
  cursor: pointer;

}

.btn-main{
  /* display: flex; */
  color: white;
  background-color: black;
  border-radius:2em;
  padding: 15px;
  /* flex-wrap: wrap; */
  /* transition: all .15s; */

}
.btn-main:hover{
  color: black;
  background: white;

}

/* index -featured image */
.featuredimg img{
  display: block;
  border-radius: 8px;
  max-width:100%;
  height: auto;
}

/*index - featured items   */

.bread img{
  max-width: 400px;
  max-height: 400px;
}

.springSeason{
  text-align: center;
}
.springSeason p{
  text-align: left;
}

.description{
  display: inline-block;
  padding-left: 10px;
}

/* index - location */
#location{
  background-color: rgba(255,255,255,.3);
  text-align: center;
  height: auto;
  object-fit: contain;
}

#location img{
   max-width: 500px;
   height: auto;
   object-fit: contain;
}




/* Menu Page */


.buns-all{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  /* margin: 30px; */
}
/* all buns displayed have 30px margins */
.bun-items{
  margin:30px;
}
/* fixed size for bun */
.bun-image{
  width= 300px;
  height=300px
}
/*sets name of bun to the left side  */
.bun-name{
  display:block;
  text-align:left;
  margin:10px;
  font-style: 1.1em;
}
/* sets price and button next to each other */
.bun-details{
  display:flex;
  align-items: center;
  padding:5px;
}
.bun-price{
  flex-grow:1;
}




/* cart page */
.cart-header{
  font-weight:bold;
  font-size: 1.2em;
}
.cart-column{
  display: flex;
  border-bottom: 1px solid black;
  /* so items dont stick together */
  margin-right: 1.5em;
  /* between item and item below */
  padding-bottom: 10px;
  margin-top:  10px;
  align-items: center;
}

.cart-row{
  display:flex;
}
/* makes last row solid horizonal line instead of dashed */
.cart-row:last-child{
  border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column{
  border:none;
}
.cart-item{
  width:45%;
}
.cart-price{
  width:20%;
  font-size: 1.2em;
}
.cart-quantity{
  width: 35%;
}
.cart-item-title{
  color: black;
  margin-left: .5em;
  font-size: 1.2em;
}
.cart-item-img{
  width:75px;
  height: auto;
  border-radius: 10px;
}
.btn-danger{
  color:white;
  background-color: black;
  border: none;
  border-radius: .3em;
  font-weight:bold;
  font-size: .5em;

}
.btn-danger:hover{
  background-color: red;
}
.cart-quantity-input{
  height:34px;
  width:50px;
  border-radius: 5px;
  border: 1px solid black;
  padding:0;
  text-align: center;
  font-size: 1em;
  margin-right: 7px;
}
.cart-total{
  margin-top: 10px;
  margin-right: 10px;
  text-align: end;
}
.cart-total-title{
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  margin-right: 20px;
}
.cart-total-price{
  color: black;
  font-size: 1.5em;
}
.btn-purchase{
  display:block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
.btn-purchase:hover{
  background-color: green;
}



@media only screen and (max-width:1400px){
 .featuredimg img{
   width: 100%;
 }
 .springSeason img{
   max-width: 300px;
 }

 .bun-image{
   width: 250px;
   height: 250px;
 }

}

  @media only screen and (max-width:600px){
    .springSeason img{
      max-width: 200px;
    }
    #location img{
      width: 300px;
    }
    .bun-image{
      width: 150px;
      height:150px;
    }
  }

  @media only screen and (max-width:1000px){
    .springSeason img{
      max-width: 250px;
    }
    .#location img{
      width: 350px;
    }
    .bun-image{
      width: 250px;
      height:250px;
    }
  }


table{
  table-layout: inherit;
}
